{% include 'base.html.twig' %}

{% block body %}
    <h1>Utilisateur edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" onclick="if(!confirm('Etes vous sure de vouloir supprimer cette utilisateur ainsi que toute les affectations qui lui sont associé ?')) { return false; }" >
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
{% include 'footer.html.twig' %}
