{% include 'base.html.twig' %}
{% block body %}

<link rel="stylesheet" href="{{ asset('css/style_user.css') }}" type="text/css"/>

    <h1>Liste des Utilisateurs</h1>
    <table class="list">
        <thead>
            <tr>
                <th>nom</th>
                <th>prenom</th>
                <th>actif</th>
                <th>Type d'Utilisateur</th>
                <th>Site</th>
            </tr>
        </thead>
        <tbody>

        {% for user in users %}
            <tr>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{% if user.actif %}Yes{% else %}No{% endif %}</td>
                <td>{{ user.typeUser }}</td>
                <td>{{ user.site }}</td>

                <td>
                    <ul>
                        <a href="{{ path('user_show', { 'id': user.id }) }}" > <input class="boutton_1" id="margin" type="button" value="Plus de détails"></a>
                        <a href="{{ path('user_edit', { 'id': user.id }) }}" > <input class="boutton_1" type="button" value="Modifier"></a>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <br>
    <a href="{{ path('user_new') }}"><input id="boutton" type="button" value="Créer un nouvel utilisateur"></a>

{% endblock %}
{% include 'footer.html.twig' %}
