{% include 'base.html.twig' %}
{% block body %}

<link rel="stylesheet" href="{{ asset('css/style_user.css') }}" type="text/css"/>

    <h1>Liste des Utilisateurs</h1>
    <table class="list">
        <thead>
            <tr>
                <th>Identifiant</th>
                <th>nom</th>
                <th>prenom</th>
                <th>actif</th>
                <th>Creation</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>

        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.actif }}</td>
                <td>{% if user.created %}{{ user.created|date('d/m/Y') }}{% endif %}</td>
                <td>{% if user.updated %}{{ user.updated|date('d/m/Y') }}{% endif %}</td>
                <td>
                    <ul>
                        <a href="{{ path('user_show', { 'id': user.id }) }}" > <input class="boutton_1" id="margin" type="button" value="Plus de détails"></a>
                        <a href="{{ path('user_edit', { 'id': user.id }) }}" > <input class="boutton_1" type="button" value="Modifier"></a>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <a href="{{ path('user_new') }}"><input class="boutton_2" type="button" value="Créer un nouvel utilisateur"></a>
    </ul>
{% endblock %}
{% include 'footer.html.twig' %}
