

<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="{{ asset('style_user.css') }}" type="text/css"/>
        <meta charset="UTF-8">
        <title>Nouveau</title>
    </head>
    <body>
    <div id="container">
    
        {% include 'base.html.twig' %}
        <h1>Nouveau</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer" />
        {{ form_end(form) }}

        <a href="{{ path('user_index') }}">Revenir à la liste</a>
    </div>
    </body>
</html>
{% include 'footer.html.twig' %}
