{% include 'base.html.twig' %}
{% block body %}
<link rel="stylesheet" href="{{ asset('css/style_user.css') }}" type="text/css"/>
    <h1>Listes d'Affectations</h1>
    <table>
        <thead>
            <tr>
                <th>Date Affectation</th>
                <th>Date Suppression</th>
                <th>Utilisateur</th>
                <th>Clé</th>
            </tr>
        </thead>
        <tbody>
        {% for affecte in affectes %}
            <tr>
                <td>{% if affecte.dateAffectation %}{{ affecte.dateAffectation|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if affecte.dateSuppression %}{{ affecte.dateSuppression|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{affecte.numCle}}</td>
                <td>{{affecte.nom}}  {{affecte.prenom}}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('affecte_show', { 'id': affecte.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('affecte_edit', { 'id': affecte.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('affecte_new') }}">Créer un nouvelle affectation</a>
        </li>
    </ul>
{% endblock %}
{% include 'footer.html.twig' %}
