<h1>Clé Café</h1>
<ul>
    <li>
        <a href="{{ path('user_index') }}">User</a>
    </li>
    <li>
        <a href="{{ path('cle_index') }}">Cle</a>
    </li>
    <li>
        <a href="{{ path('affecte_index') }}">Affecte</a>
    </li>
    <li>
        <a href="{{ path('etat_index') }}">Etat</a>
    </li>
    <li>
        <a href="{{ path('site_index') }}">Site</a>
    </li>
    <li>
        <a href="{{ path('typeuser_index') }}">TypeUser</a>
    </li>
</ul>
