{% include 'base.html.twig' %}
{% block body %}

<link rel="stylesheet" href="{{ asset('css/style_cle.css') }}" type="text/css"/>

    <h1>Cle list</h1>
    <div class="container">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Numéro de clé</th>
                <th>Commentaire</th>
                <th>Montant Initial</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for cle in cles %}
            <tr>
                <td><a href="{{ path('cle_show', { 'id': cle.id }) }}">{{ cle.id }}</a></td>
                <td>{{ cle.numCle }}</td>
                <td>{{ cle.commentaire }}</td>
                <td>{{ cle.montantInitial }}</td>
                <td>
                    <ul>
                        <a href="{{ path('cle_show', { 'id': cle.id }) }}" > <input class="boutton_1" id="margin" type="button" value="Plus de détails"></a>
                        <a href="{{ path('cle_edit', { 'id': cle.id }) }}" > <input class="boutton_1" type="button" value="Modifier"></a>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <br>
    <a href="{{ path('cle_new') }}"><input id="boutton" type="button" value="Créer une nouvelle clé"></a>

{% endblock %}
{% include 'footer.html.twig' %}
