{% include 'base.html.twig' %}
{% block body %}
    <h1>Cle list</h1>
    <link rel="stylesheet" href="{{ asset('css/style_user.css') }}" type="text/css"/>
    <table>
        <thead>
            <tr>

                <th>numCle</th>
                <th>montantInitial</th>
                <th>Etat</th>
            </tr>
        </thead>
        <tbody>
        {% for cle in cles %}
            <tr>
                <td>{{ cle.numCle }}</td>
                <td>{{ cle.montantInitial }}</td>
                <td>{{ cle.causeArret }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cle_show', { 'id': cle.id }) }}">Voir plus</a>
                        </li>
                        <li>
                            <a href="{{ path('cle_edit', { 'id': cle.id }) }}">Editer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <h1><a href="{{ path('cle_new') }}">Créer une nouvelle clé</h1>
        </li>
    </ul>
{% endblock %}
{% include 'footer.html.twig' %}
