{% extends 'base.html.twig' %}

{% block body %}
    <h1>Annonce</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ annonce.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ annonce.titre }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ annonce.libelle }}</td>
            </tr>
            <tr>
                <th>Datedepot</th>
                <td>{% if annonce.dateDepot %}{{ annonce.dateDepot|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Actif</th>
                <td>{% if annonce.actif %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ annonce.prix }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('annonce_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('annonce_edit', { 'id': annonce.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
